.container {
  position: relative;
  font-family: Gibson;
  z-index: 1;
  background: rgba(238, 236, 236, 0.6);
  border-radius: 2.5%;
  padding: 1.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.back-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Gibson;
}
.back-button > img {
  width: 12px;
  height: 12px;
  margin-right: 10px;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  text-align: center;
  margin-bottom: 0;
}
p {
  font-size: large;
  margin-top: 0;
}
.contact-form {
  max-height: 50vh;
}
.contact-form > form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0px 15px;
}
label {
  display: block;
  margin-bottom: 3px;
  font-weight: bold;
  font-size: smaller;
}
input, textarea, select {
  width: 100%;
  padding: 5px;
  margin-bottom: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -ms-box-sizing:content-box;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box; 
  box-sizing:content-box;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.submit-button {
  position: relative;
}
button {
  padding: 8px 16px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  bottom: calc(4px + 1.5%);
  right: 0;
}
button:hover {
  background-color: #0056b3;
}

@font-face {
  font-family: Gibson;
  src: url(fonts/Gibson.ttf);
}

/* @media only screen and (max-height: 600px) {
  button {
    padding: 10px 20px;
  }
  input, textarea, select {
    padding: 10px;
    margin-bottom: 8px;
  }
  .contact-form > form {
    grid-gap: 0px 30px;
  }
  .container {
    padding: 3.5%;
  }
} */