html, body {
  margin: 0;
  background-color: rgb(238, 236, 236);
}

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.app::before {
  content: "";
  background-image: url("images/background01.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: backgroundAppear 1s linear forwards;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(238, 236, 236, 0.4);
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Gibson;
  transition: 0.3s;
  padding: 1%;
  cursor: pointer;
}

.contact:hover {
  background: rgba(238, 236, 236, 0.6);
}

.navbar > img {
  width: 75px;
  height: 75px;
}

.message {
  position: relative;
  animation: messageAppear 1.5s linear forwards;
  font-family: Gibson;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(238, 236, 236, 0.6);
  border-radius: 2.5%;
  padding: 5%;
}

.msg-header {
  font-size: 2em;
  font-weight: 600;
  margin: 0;
}

.msg-body {
  font-size: 1.5em;
  margin: 0;
}

.copyright {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1%;
  font-family: Gibson;
  font-size: medium;
}

@keyframes backgroundAppear {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes messageAppear {
  0% {
    opacity: 0;
    margin-top: -20px;
  }
  67% {
    opacity: 0;
    margin-top: -20px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

@font-face {
  font-family: Gibson;
  src: url(fonts/Gibson.ttf);
}